version: "3"
services:
  discovery-server:
    image: "{{ eureka_image_name }}"
    ports:
      - "8761:8761"
  weatherservice:
    image: "{{ weather_service_image_name }}"
    ports:
      - "8088:8088"
    depends_on:
      - discovery-server
  currencyservice:
    image: "{{ currency_service_image_name }}"
    ports:
      - "8089:8089"
    depends_on:
      - discovery-server
  predictservice:
    image: "{{ predict_service_image_name }}"
    ports:
      - "8090:8090"
    depends_on:
      - discovery-server
      - weatherservice
      - currencyservice
